<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>To do List</display-name>

    <filter>
        <filter-name>LoginRequireFilter</filter-name> <!-- mandatory -->
        <filter-class>the.best.web.filter.LoginRequireFilter</filter-class> <!-- mandatory -->
    </filter>
    <filter-mapping>
        <filter-name>LoginRequireFilter</filter-name>
        <url-pattern>/success</url-pattern>
        <url-pattern>/order</url-pattern>
        <url-pattern>/car-type-choose</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>order</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <filter>
        <filter-name>localizationFilter</filter-name>
        <filter-class>the.best.web.filter.LocalizationFilter</filter-class>
        <init-param>
            <param-name>locale</param-name>
            <param-value>en</param-value>
        </init-param>
        <init-param>
            <param-name>bundle</param-name>
            <param-value>messages</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>localizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>the.best.web.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/WEB-INF/views/errors/403-error.jsp</location>
    </error-page>
    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/WEB-INF/views/errors/404-error.jsp</location>
    </error-page>
    <error-page>
        <!-- Uncaught exception -->
        <error-code>500</error-code>
        <location>/WEB-INF/views/errors/500-error.jsp</location>
    </error-page>
    <error-page>
        <!-- Unsupported servlet method -->
        <error-code>503</error-code>
        <location>/WEB-INF/views/errors/500-error.jsp</location>
    </error-page>

</web-app>